<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>savedMapData</key>
	<array/>
	<key>savedSettings</key>
	<array/>
	<key>savedImages</key>
	<array/>
	<key>searchHistory</key>
	<array/>
	<key>savedPaths</key>
	<array/>
</dict>
</plist>
